<header class="row">
    <nav class="col-md-8 offset-md-2">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a [routerLink]="['signup']" [routerLinkActive]="['active']" class="nav-link">Signup</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['signin']" [routerLinkActive]="['active']" class="nav-link">Signin</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['logout']" [routerLinkActive]="['active']" class="nav-link">logout</a>
            </li>
        </ul>
    </nav>
</header>
<div class="row row-small-margin-top-bottom">
    <router-outlet></router-outlet>
</div>