<header >
    <nav >
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a [routerLink]="['signup']" [routerLinkActive]="['active']" class="nav-link">Signup</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn()">
                <a [routerLink]="['signin']" [routerLinkActive]="['active']" class="nav-link">Signin</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()">
                <a [routerLink]="['logout']" [routerLinkActive]="['active']" class="nav-link">logout</a>
            </li>
        </ul>
    </nav>
</header>
<div class="row-small-margin-top-bottom">
    <router-outlet></router-outlet>
</div>