<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div [ngStyle]="{'display':display}" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{error?.title}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="onErrorHandled()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{error?.message}}</p>
            </div>
            <div class="modal-footer">
                <button (click)="onErrorHandled()"d type="button" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>