<div class="msg-card" [class.msg-card-left]="!isBelongsToUser()" [class.msg-card-right]="isBelongsToUser()" style="--left-bg-color:{{getColor()}}" [attr.style]="byPassTrustStyle('--left-bg-color: ' + getColor())" >
    <div class="msg-card-body">
        {{message.content}}
    </div>
    <footer class="msg-card-footer">
        <div class="msg-author">
            {{message.username}}
        </div>
        <div *ngIf="isBelongsToUser()" class="msg-config">
            <a (click)="onEdit()">Edit</a> |
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</div>